@using Nathan.Helpers
@model Nathan.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true).Raw()
    <ul>
        <li>
            <fieldset>
                <ul>
                    <li>
                        @Html.InputFor(model => model.Email, true, false)
                        @Html.ValidationMessageFor(model => model.Email)
                    </li>
                    <li>
                        @Html.InputFor(model => model.Name, true, false)
                        @Html.ValidationMessageFor(model => model.Name)
                    </li>
                    <li>
                        @Html.InputFor(model => model.Message, true, true)
                        @Html.ValidationMessageFor(model => model.Message)
                    </li>
                    <li class="center">
                        <input type="submit" value="Send Email" />
                    </li>
                </ul>
            </fieldset>
        </li>
    </ul>
}