@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Head", false)
</head>
<body>
    <div class="wrapper">
        <header>Header</header>
        <nav>Navigation</nav>
        <div class="main">
            @RenderBody()
        </div>
        <footer>Footer</footer>
    </div>
    @Scripts.Render("~/Scripts")
    @RenderSection("scripts", false)
</body>
</html>